$txtFldColor: rgb(253, 212, 176);

body {
  background-color: rgb(204, 204, 204);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  color: white;
  font-size: 32px;
}

// .grid-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

.headline {
  font-size: 70px;
  color: white;
  font-weight: 400;
  margin: 0px;
}

// .grid-1 {
//   background-color: indigo;
//   margin: 40px 40px;
//   display: flex;
//   align-items: center;
//   justify-content:flex-start;
//   flex-direction: column;
//   padding-top: 25px;
// }

// .grid-2 {
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   flex-direction: column;
//   font-size: 20px;
//   background-color: #549797;
//   margin: 40px 40px;
//   border-radius: 6px;
//   padding-top: 25px;
// }

.inputColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#country {
  height: 42px;
  border-radius: 6px;
  font-size: 20px;
  background-color: $txtFldColor;
  width: 32vw;
  &:hover {
    background-color: white;
  }
}

#city {
  background-color: $txtFldColor;
  border-radius: 6px;
  height: 42px;
  width: 32vw;
  &:hover {
    background-color: white;
  }
}

.date {
  #dateField {
    border-radius: 6px;
    padding-left: 5px;
    font-size: 19px;
    background-color: $txtFldColor;
    height: 42px;
    width: 150px;
    &:hover {
      background-color: white;
    }
  }
}

#generate {
  width: 32vw;
  height: 100px;
  background: #45ecec;
  color: white;
  font-size: 26px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #444;
  height: 38px;
  margin-top: 40px;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
  }
}

// .outputColumn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

#entryHolder {
  padding: 35px 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


#tripTitle {
  font-weight: 800;
  font-size: 32px;
  padding:10px 0px;
}

#travelDate {
  font-weight: 800;
  font-size: 32px;
  padding: 10px 0px;
}

#daysCountdown {
  font-size: 26px;
  font-weight: 600;
  padding: 10px 0px;
}

#typicalWeather {
  font-size: 26px;
  font-weight: 600;
  // padding-right: 20px;
  // padding-bottom: 20px;
  padding: 10px 20px 20px 0px;
}

.typicalW {
  font-size: 20px;
  font-weight: 600;
  // padding: 5px 10px;
}

.returnImage {
  padding-top: 20px;
  border-radius: 6px;
  max-width: 600px;
}




/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  font-size: 20px;
  border: none;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: black;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}


@media screen and (max-width: 768px) {




}